*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none ;
    list-style-type: none;
    text-transform: none;
}
/*Partie header*/
.fa-solid{
   font-size: 2rem;
   color: #EB8F9B;
}


.logo{
    width: 93%;
    align-items: center;
}

.effetTexte{
    font-size: 1rem;
}

.TitreH2{
    font-size: 2vw;
}

a{
    text-decoration: none;
    list-style: none ;
    list-style-type: none; 
     color: black;
}
/*Partie Baniere*/
.baniere{
    height: 73vh;
    width: 100%;
}

.Text{
    width: 100%;
    padding-left: 3%;
    padding-top: 0.5%;
    background-color: #EB8F9B;
    font-size: 2vw;
    border: none;
    padding-bottom: 0.5%;
    
}

.divInputrecherche{
width: 100%;
}


.textBaniere{
 color: white;
 text-align: center;
 font-size: 1.5vw;
 
}
.textBaniereH{
    color: white;
    text-align: center;
    font-size: 3vw;
}

.divtextbanniere{
 margin: 0 auto;
}

.ImgBack{
    background-image: url("image/background.jpg");
    width: 100%;
    height:80vh;
    background-repeat: no-repeat;
    
    background-size: cover;
}
/* Partie body*/
.body{
    margin: 1%;
}
.pointiler{
    width: 90%;
    height: 20vh;
   
    
    border-top:1px dashed;
    border-left:1px dashed;
    border-right:1px dashed;
    border-color: black;
}
.tailleDivText{
    width: 90%;
    margin-left: 4.5vw;
    text-align: center;
}

.plogo{
    margin-top: 8%;
    color: #EB8F9B;
    font-size: 1vw;
}

.pSouslogo{
    
    
    color: gray;
    font-weight: 400;
}


.pcolor{
    color: #EB8F9B;
 font-weight: 400;
}


/* Footer partie*/

footer{
    width: 100%;
    height: 17vh;
    background-color: #2C404E;
}
.pFooter{
    color: white;
    font-weight: 500;
}

.menu.active .effet,
.menu:hover .effet {
    color: black;
}

.menu.active .effetTexte,
.menu:hover .effetTexte {
    color: #EB8F9B;
}
.pFooter:hover{
    color: #EB8F9B ;
}

::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 0.7;
    
  }
/*partie serveur dedier */

.talleDivP{
    margin-left: auto;
    margin-right: auto;
}

.tailleDivText2{
    width: 89%;
    margin-left: 6vw;
}

.TailledivDedier{
    width: 32%;
    border-top:1px dashed;
    border-left:1px dashed;
    border-right:1px dashed;
    border-bottom: 1px dashed;
    border-color: black;
}

ul{
  margin: auto;
  padding: 3%;
  
  
}
.sect{
    
}

.tailleDivCaré{
    margin-left: 6%;
    width: 90%;
}

.h3caré2{
    font-size: 0.9em;
    text-align: center;
    background-color: #2C404E;
    color: white;
    width: 90%;
    margin-left: 5%;
    padding: 5% 0% 5% 0;
}

.h3caré {
    font-size: 0.9em;
    text-align: center;
    background-color: #2C404E;
    color: white;
    width: 90%;
    margin-left: 5%;
    padding: 5% 0% 5% 0;
}



.liste{
  font-size: 1.5vw;
    color: gray;
}
.h3prix{
    margin-top: 8%;
    font-size: 1.5vw;
    margin-left: 8vw;
}
.but{
    margin-left: 0%;
    background-color: #EB8F9B;
    color: white;
    /* border-radius: 0.5vw; */
    width: 90%;
    padding: 0.5vw 9.2vw 0.5vw;
    font-size: 1.5vw;
    margin-right: 15%;
}

.butbis {
    margin-left: 0%;
    background-color: #EB8F9B;
    color: white;
    /* border-radius: 0.5vw; */
    width: 90%;
    padding: 0.5vw 9.2vw 0.5vw;
    font-size: 1.5vw;
    margin-right: 15%;
}


/* Partie serveur mutaliser*/
.liss{
    color: gray;
    font-size: 1.3vw;
}
.lissP{
    color: gray;
    font-size: 1.3vw;
    
}

@media (max-width: 950px) {
   
    .butbis{
        margin-left: 0%;
    background-color: #EB8F9B;
    color: white;
    width: 90%;
    padding: 1.5vw 33.2vw 1.5vw;
    font-size: 1.5vw;
    margin-right: 15%;
    }
   
    .lissP {
        color: gray;
        font-size: 2.0vw;
        margin-left: 15%;}
   
    .liss {
        color: gray;
        font-size: 2vw;
        margin-left: 9%;}

.topbar{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.tailleDivText2{
    display: flex;
    flex-direction: column;
}
.tailleDivText{
    display: flex;
    flex-direction: column;
}

.pSouslogo{
    
    color: gray;
    font-weight: 400;
    font-size: 1em;
}

footer{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 100%;
    height: 67vh;
    background-color: #2C404E;
}
.plogo{
    font-size: 1em;
}


.textBaniereH{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.textBaniere{
    color: white;
    text-align: center;
    font-size: 1rem;
}
.Text {
    width: 100%;
    padding-left: 3%;
    padding-top: 1%;
    background-color: #EB8F9B;
    font-size: 1em;
    border: none;
}

.ImgBack {
    background-image: url(image/background.jpg);
    width: 100%;
    height: 49vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.TitreH2 {
    font-size: 5vw;
}
.dimention{
    display: flex;
    width: 43vw;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3%;
}
.logo {
    width: 100%;
}
.tailleDivCaré{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.TailledivDedier {
    width: 90%;
    border-top: 1px dashed;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-bottom: 1px dashed;
    border-color: black;
    margin-top: 3%;


}
.but{
    margin-left: 1%;
    background-color: #EB8F9B;
    color: white;
    width: 90%;
    padding: 0.5vw 26.5vw 0.5vw;
    font-size: 3.5vw;
   
    
}
.h3prix {
    font-size: 4vw;
    margin-left: 22vw;
}
}
